{% extends "base.html" %}

{% block content %}
<h1>Департаменты</h1>
    <table class="table table-warning" style="text-align: center; border-rounded: 5px">
        <thead>
            <tr>
                <th>id</th>
                <th>Название</th>
                <th>Глава</th>
                <th>Члены</th>
                <th>Почта</th>
                {% if current_user.is_authenticated %}
                <th style="text-align: right">Кнопки</th>
                {% endif %}
            </tr>
        </thead>
        {% for item in departaments %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.chf.name }} {{ item.chf.surname }}</td>
                <td>{{ item.members }}</td>
                <td>{{ item.email }}</td>
                {% if (item.chf.id == current_user.id or current_user.id == 1) and current_user.is_authenticated %}
                <td>
                    <div class="container-buttons" style="text-align: right">
                        <a class="btn btn-outline-warning" type="button" href="/editdep/{{ item.id }}" style="width: 100px; background-color: #2a074b">
                            Изменить
                        </a><br>
                        <a class="btn btn-outline-danger" type="button" href="/deldep/{{ item.id }}" style="width: 100px; background-color: #2a074b">
                            Удалить
                        </a>
                    </div>
                </td>
                {% endif %}
        {% endfor %}
    </table>
{% if current_user.is_authenticated %}
    <a type="button" class="btn btn-warning" href="/newdep" style="margin-top: 20px"> Добавить департамент </a>
{% endif %}
{% endblock %}