{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>
<form action="" method="POST">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.job.label }}
        {{ form.job(class="form-control") }}<br>
        {% for error in form.job.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.teamlead.label }}
        {{ form.teamlead(class="form-control") }}<br>
        {% for error in form.teamlead.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.start_date.label }}
        {{ form.start_date(class="form-control", type="datetime-local")}}<br>
        {% for error in form.start_date.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.work_size.label }}
        {{ form.work_size(class="form-control", type="number") }}<br>
        {% for error in form.work_size.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.collaborators.label }}
        {{ form.collaborators(class="form-control") }}<br>
        {% for error in form.collaborators.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.completed() }} {{ form.completed.label }}</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {% if message %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endif %}
</form>
{% endblock %}